<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- load properties file -->
	<context:property-placeholder location="classpath:sport.properties" />
	
    <!-- Define your beans here -->
    
 	<!-- <bean id="myCoach"
 		class="com.iglyphic.springdemo.TrackCoach">	 		
 	</bean> -->
 	
 	<bean 
 	id="myFortuneService"
 	class="com.iglyphic.springdemo.one.FortuneServiceImpl">
 		<constructor-arg>
 			<list>
 				<value>${foo.fortune.one}</value>
 				<value>${foo.fortune.two}</value>
 				<value>${foo.fortune.three}</value>
 			</list>
 		</constructor-arg>
 	</bean>

    <bean 
    id="myCoach" 
    class="com.iglyphic.springdemo.one.BaseBallCoach">   
        	<constructor-arg 
        	ref="myFortuneService" />      
    </bean>
    
    <bean 
    id="cricketCoach"
    class="com.iglyphic.springdemo.one.CricketCoach">
    	<property 
    	name="fortuneService" 
    	ref="myFortuneService" />
    	<property name="emailaddress" value="${foo.email}" />
    	<property name="team" value="${foo.team}" />
    </bean>
    
    <bean 
    id="myLoggerConfig" 
    class="com.iglyphic.springdemo.one.MyLoggerConfig" 
    init-method="initLogger">
    	<property name="rootLoggerLevel" value="FINE" />
    	<property name="printedLoggerLevel" value="FINE"/>
    </bean>

</beans>